* {
  box-sizing: border-box;
}
h1 {
  margin: 15px;
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  color: #9933cc;
  font-family: "Lucida Sans", sans-serif;
}
p {
  font-family: "Lucida Sans", sans-serif;
  color: Black;
  text-align: left;
  padding-right: 1em;
  padding-left: 1em;
}
h3 {
  border-style: none none solid solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  position: relative;
  text-align: centre;
  left: 65%;
  width: 35%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.section {
  border: 1px solid black;
  background-color: lightgrey;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  min-height: auto;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 764px) and (max-width: 991px) {
  .col-md-6,.col-md-12
    .col-md-6 {
      width: 50%;
      float:left;
    }
    .col-md-12 {
      margin-left: -10px;
      float:left;
      width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
      float: left;
      width: 100%;
    }
}
