* {
  box-sizing: border-box;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
body {
  font-family: “Comic Sans MS”, “Comic Sans”, cursive;
  color:black;
  font-size: 1.5rem;
  font-weight: bold;
}

#header-nav {
  background-color:#aeb1b5;
  border: 1px solid black;
  border-radius: 0;
  margin:0px;
}

.section {
  margin: 20px;
  height:1000px;
}
#section1 {
  border: 1px solid black;
  background-color:#aeb1b5;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 10px;
}
#section2 {
  border: 1px solid black;
  background-color:#aeb1b5;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 10px;
}
#section3 {
  border: 1px solid black;
  background-color:#aeb1b5;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 10px;
}
.navbar-brand {
    padding: 10px;
  }
.navbar-brand h1{
  
  font-family: “Comic Sans MS”, “Comic Sans”, cursive;
  color:black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p span { 
  vertical-align: middle;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }
#nav-list {
  margin-top: 10px;
  text-align: center;
  
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navC {
  border:1px solid black;
  font: “Comic Sans MS”, “Comic Sans”, cursive;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
	}
